
body {
    font-family: 'Cinzel Decorative', 'Papyrus', serif;
    background: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMSEhUTExMWFhUXGBgYGBgYGBgdFxodGhgYFxgYGBcYHSggGB0lHRcXITEhJSkrLi4uGB8zODMtNygtLisBCgoKDg0OGxAQGy0mICUtLS0rLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAK8BIQMBIgACEQEDEQH/xAAcAAACAgMBAQAAAAAAAAAAAAAEBQMGAAIHAQj/xABGEAABAwIDAwkECAQFAgcAAAABAAIRAyEEEjEFQVEGEyJhcYGRocEHMrHRFBcjQlKT4fBTYpLxFTNDcoJj0hYkNHODosL/xAAZAQADAQEBAAAAAAAAAAAAAAACAwQBAAX/xAAoEQACAgEDBAICAgMAAAAAAAAAAQIRAxIhMQQTQVEiYRQyI3FCUoH/2gAMAwEAAhEDEQA/ANi1ehiI5tYGIG6JqsgyLDThEFi8yrNRriD5FgZdEhsAk2AuSg6O0qb3ZRPbFltmUbhg/cLC1FCmvTSCxyXASi+UBli1dSUGM2vSp1BSIJdbQaTxR0JUoj4SBxSU1OkOC3AC1ZUMwkNFEXZ6KE6aqU4MARrb5LZjhu1U7Gk9n7skybQ6KTADhJdERNkLiqMOiLDxVtwuAJ6Rt6Jft7BNa7M0yXSXX0PUgWW5Ua8dIrzqYAuVo+lZHCnAXpbNlQJFJaFmQIqphSFq2mj1IDSQhqmo0JU1KjO5HUcC7WD4JU8iQyOOwIUd8AIrD0JR2FohxuNOpM6OCbBkdLdGnglvJsMUNxSygdy95k6EfvuTCpSIJCh5u6BMOiTC4K0rY0ARB8QicO+11483Wq5cgNqAudRWjqGqYMYpxEEQFX+vCIm9b3Ysw+CzAncF5Wwcbk/wWJZcOFzHZZZtFgawneRZInmmpblGPFBx2Ks5ijLFKXXhbAAquGRNEuTG0wcUwvRTU3NLZ1MjVbOdGY8eoHyhYt5/lXiT3WUdhDTCYVr7FDYrD5XFvBEs2i0CYjidyU7b2u1rSQ6XnSPitxRm5C8soJAe09rimcjQC7few6j1phh6jXsa4bxMcOPgVSZJde/FMcFUIa4AxPrqPJWyxUtiOOS3uT7Y2nmBYyzeO8/ogcACDbqXjqRlT4dkJlJRpC9TcrZZhWblzTZLdr7cZRbxdBI4WMX7/gq3yhxxEMBMakA+E+arlfEl+pJS44vLHa/RLUxJe9zybuJJ77rq3NSAeoHyC5Ng2y4A7yB4ldK5UuqU6bcjnNGbIYO6Jb16NKn6mVZIr+ynDG4SYYKMqGrQIKkwe06eVucm4F4t1nxncmdagDcdynk2nuPjVUuRZSYnGz2iboejh1K5sKee+xRHYstLEta3QHqVOxlSro+TrqOPAon6S4CAbda9e8kQVuKCT3AyN/4id1NekI80Fo6hF1Q3SER3YC5sjevaeH6kwZQlG4bDW3D96qecimKQFhsFv0TbDvy7pRWHwbTYlZzCWlGZ0puIGKNyUxwdNrjDpH74rQUltl4LZRsFTNKuGBJhY/CiFK1qkc1HoiL7kkwLmQFhpIoMXrYzBu8gnuBAPxCZFJcC5zb5AubEkb4B8ZA+B8FGaSXYXFuO1alKDldSgWMfZkX8XH+oKxOpp0npFqLYBSoyRC3xrIbl370RobBD125pnVTZZOTKcMFHcr+IF44WHxQ2HeZkym78ETc8Vr9BAcJHyRRmktwpQt7EFF06jXetK5ETOnHjopMUImO5APnebIVJydhaVFUjOcH4vJeqLP2LEwErdTHOI1QznzdQEqLnYcDuXtJJcHhtthzGoyk7jolJx53Dj+igrYt0zPYsas5FkNRg1OiQbS2yc32ZhoSzEYomRKEKxRoM3q1y4knUqMFeFbBiIJBGDs5p6wusbWp87hZFzmb4hzjPgVyvDUrgdYXU+eDKLmu0k/C3w815PX7Si0ej0e8Wiu4emeZEn3XEdxJOvb8U+2Fj7Bjt039FrWwuWjVG6C7/AO4M+CroeZRYv5sbX2Ly/wAWRNejoXOMa3MTZJMZtk5ugAR1g3QGyBnGUnUbzvH90ZidmObfchhihF/IKeWbXxGOGdnYHRr8VMGlQ7IsHMI6x5D5I4NSJ7Oh8HaJKb2vkvgdmi2dhWkS1wIQr6E/NR0qbgYuljKJ2YSESKeiMpUJaCpG4eFmqzKpkFIEKakJmV7zakZShBwbdmmQFeimpm01MymmJimgVtNbZFpsjEitTz/zPb/S8geUI0sRAggpqrcs8fVwz6NakWyM7IcJBnWwI/D5K41nNYJc4NBIAnidAuXbUxTnAU3nMG1HOHeSfi4lMxP5AyjsaYLlQ8YoYmq1sllSmcoMCcu4kncF0TFYgNq06W+o17h/xy/9x8FxWpUgDrnzy/JPOSmPc/G4c1HuIDiJc4mAWugX0BMKueHa/RNHJvR1LIo61CYKNYARIuFhp3UVplW6Fr6MapXjXk2vZPsZAbCR4oEjv/fxSluyhOkLaiFeNSe5HV2KAtTogtsEhYish/CFiPUgKZQAyQCN6gfTU2zarXMaCYOg6159IaXubOkAeq9RZDy5YqBKjUNUYm1WjaUowdTPm7Si1A6QeqNyhIR9Wih6lNGYmDI7ZjvtGAxBc0GdLkWQwpFS0xDh1GUE+GMjyWDD7P8AtnNizXEdwJA9FZcfV6DQd5HjBEdkwkmzcWBVc46OJkfI+KL2u85GxucI87rx8jc5pM9SCUYtosrqs4Z41OUjyaZVWqAhNvpgp0/+LvISfgEFgKZrgkC+UmP9tz2yEfSyUE79iupg5NNeiHD44tO6DqnlDFvbZrpZMxqFXH0oKY7MrRLToXC/DcfRV5ILklxzfBY8JjQBmiSm+y6/PB1oI+B0VdLMvWE35O4gNqDg5pb5yPgo8kVptFkG7oaPorU00VXrDddaBzT2qSyhEmEqQYmyn5wl8ADL59qFbTO5S0XlqW2bQXiIYJyvcP5Wlx8G3UNTaNFpa1z8r3+6xzXB7o1ysIzHuCY4TENIvYrc4ZmfnMoL9A43IHBpPujsTUlVtiG2nQJWJFNz4IgTBEHwVEHtF1+wPugN6W8GSTbfIsivaNiTTrNLXOaTSiQ4ge+SZG9c2LhOttdVRhxqStgzbR1bkBjQaTKZiXurG38nNAeRKtmIc1jS5xgCL9pA9VxHk7ylOGqNqNh0Bwyu06UA3HYE823y6qYikaZpsaCRcEz4LcmFt7AxkXblm4CgP9wjulcyxDpuDe/lf5p/jdr8+1pLui0ER16mEgxWJY1j4Akhw0veYErsFrwFkW3IqxFMSLjQDXetcI/K4OaRINr7weCXOpKMsXqqNqjzb3svuz+WdWmHWDoBNzAtJ8092DysdiMS9rXA0uaDgMsEOloNzc6kLk2U/vrT7kfjuYxLHH3XdF3YdPOFLk6WOltIoh1EnJJnUatUlRVmmFI+swm2iHxGJnRebE9CQNiW2QWJhoubqTE49o0ufJJ8fj5T4Y3IVLIoon+mDr8V6kXO9qxP/GE/lFHoYstDepwWhxHTceJnzQkHRS08M86NJKu0oQO3bQljrnTXuS3Y9Qh0bpQ1QObLSIPArTCOv1IFGkwuS0vwp4IZ+FTnAY02bFoHbuTbaWHp1GNgBtS0QILuPaUn8lppNHfjKrTKXUpQhi2Lqy1djVNcju4ICts53BUa0xNNMCwmLiNycHGZhGo+SXtwB1j99yKo4fIYMtPAz6qLNGKdotxSbVDDGVM1JpGsHwMz8E15HYjm3Bx0Ezx7u4lJ6B+7/bgR5pnstmTOCdCD3afAhSypxoek9Q4xdDD1Q51MkuN43yTqktWgWntWUZbVF/vQT22UlWsZM3CsVx25I3Ut+GE7LxggteZ3js4JrSj7p7lWiEz2ZiR0QZkWPW3d4eiXkh5Q3HLw+S14GrnBB1HwRD2cCkzXEEEItuM8VDODvYsjJeQ1oI3olld2ligKeK4gIqlXH4fNTSUlyOVMNpPOkIihi23GYdHW+m9R4aqz8Pmub8otpTiKrmGxcQO63osx45ZHSF5Glygz2lYsPrAAgxTAsesn1XNi7d1J3j65InektRt17nS43GFM87NLfYidVI0O5a0cUQZN54rSuoHCyrUE0T6hxh9sOaMsCJvqjW41j9QeszYKssnvRzamVjmzqLQheNXsbrdDOrWpxOQ30vrw7EJUxEWyiTp6qOricwp20vHdAWmIPSBG4fFEsdeWA5/SNa2KcCAMut7GNykbiXAiMpnQiR5ShcQRIWnOQQj0makWjB8psXmyAsJA3g3jrlSUuVVZ4JLWkASYkW060j2RiW89O4tIUmAP2dTrsl9qF8GvLKuR8zbAdqC068V66sHb0vZT07FHi64px+9y3SvAOpsPWKtf4k7ivUVGEZeyo0XdnG8kaATEx++9anZ9XLzjOmxuuUklv+4bu1B4c2TLYmJfRqNqCbGdderrSZpxWxVF29xZj62aDviCePBCUQrzj9g08WTUwhAeek6gbGTc83x39Hw4Ks/4a5rnAgggwQbEcexDjzQca4+g5Y5JhuFxmU0we/zTvGYmzTNxMd4VTdIf4J06uHNBPYlzitSNTdMstTHvc9tVpOZvNusddA8Eda6DWYythavOMDnQQHDW2l98GfBcu2S7OwkfdIBB4Gbgrp2yDIc06PAcOqRfzU+TavoNK7+zku06GVogEOBvwN3C3DQeKaYJ7cRSpUnHp5ei46ggkDrvEQmfKvAgCI3z13P6KqYMFlVpFo9f1VGSPchaE4paJUatrlj4vYqwYfFfaBwuDAPlqq/tBx5x1hck+qlwuMhTZIWkymE96ZbvomaXAaH+3oh8VhSCf3qj+Tm0GzkcRDwAO3cnpwDKtwQZtPYY9EUMu24GTHvsU9lNY1pBkKw4vY5bohKuAIGiZrTA0tEmHrSG/hPiP2UQ6mUDQYRY6I2kS3rHBJlH0OjL2T0nlG0qoGqBceCEx+L5thdIncOtJlj1DlkoJ5Q7YyU8jTDnbxrA19FQ69WSp8djHVHSTKEyKvB06giTNncnsQVnoSoIF9TojaxDbnXcEvqEuMlWRRJJ+wWqJKgeEaaSiNOU5CrBWyvS+AiBTUdRq4JMznBBgwZsp6NbNbegyziti8AiNyHg1qwurSQj2rYYpx7vgvZncjQuqIqaYYSpAjchRSlG06GUS63Abz+nWsk0gkmwp2LyidepKatRziS7epHkuNh+i3ZQzdFtydTu/QJUppDYYwC3ArEw/wAL/wCozzWIO9H2N7T9Af0Vwixg6GFJRcR++5GbJ2iWsAmw3bj3bkwZVo1ZkQdbNhw9CkSyy8oasa8Mj2W9zXNLXkEGQd4V3rYSnimB7wG1YguGjo4jj59qptLZ7TenUb6/orJsxzwBmINokGZA0McfQKDqHbtMqwqtmKdoclSHeCWV9mFloXRsNXzANdceY7D6FR4vZbXgloDhvG8IMfVyjtIKeBPgpmxG82T1/OPVdM2U3oMI0geSpdTZmU2ns3hWHZu2qeFwzn1TZpsBq4nQD49V+ColLubryJ06FTJ+UOEzt0vA9fVUmvs0tMx2K4ckMXUxVGrWqHMHVHFk/dBuKYO8NkR2lMMTsaQTlkDgnqej4sn06vkcyx+FkX1ulpGSbAq87UwGUXabEqr4rCok7X0a9mA4XaRkSYjSE2wO2XNaBmOW/mZPmk1SjG7ep6DWmx0PXdZOKW6CjK9mX7ZG3wLVCXNPeRbd1aWTA4ukfdf3Fc/oNcN5jiESyuZgm6UtLewTTRdA6mblwHko6mOogWJJ4QkeGxxMNhk6XFz5hFOzHUMHe0fEotK8gW/BHidqvvlED970oxL3u94pk6lOjm+I9Ch6+BeNZjiBbxCfFxQqSkLHMhQuKOdh/wB29Vq7DxrA7x80xSiKcZehS+iXGVu3CIx9ZjeCiqYhsSD4Jmr0A4vyC1aCgdQRjsU3Qlel7ePet1maBcaK0OH3ptzXAT3KN1CUPcQaxsS1KPUojhU2qZR+i9ZRzXGi3uUboYpbhUXRwe/z0RzaQ3CT1oins97rnoji4/AaoJZ0go4WwMNazrKie0uJJvvTN1GjT1JeeAsPn8EHtHFONJ2VuVg4dZ3nekLJb2HdukQ4RrXtDvLyut8XiBTYdw4cfmlmzcUA2+tvitNtV+jA1K3Q3OmFaS2N/p38x8liTc+Vid2UBqHeyaxFtx3H0O9TsnMDEcYQWyB0gDMcSLJ3U2ZUGgJHUQppTjGTscotpAzmvYSWGO7cjdk7SIOV2h03X9FNh2Ob7wI7R6KZ+Aa6bQRvb/2/JKeWMlUjVjknaG+Cx+R3SJLDrxHWOHYrDTeDDgexw1VPZh3RYg28fFG7PxDqZj7u8E/BR5MSlvHkpjNrktb2B46Qv+JvqPULmXtE2mM3NMcCGzJG9ztfAW7SUZtDlTVJcA4taScoECw69f7KrbXDXDNk6ZIkjXf4q/pOkeJ6pMjz9Tr+KRbPZxyw+iUn06rMzJBEP6YcRE5XatsJy6awpdp7XxGJL3EuJAcWtbMCATZo4CVz/DMO8w4uLYjg2b+XiuscgcBTNF1SqQWkOptmJDsvuu7jIPV2S/Npx3PyKinJqJtRxRq4ag/dzcSJPuuc0kze8T3pFtCsG9vBWLDYenQoNoUgSxsmXEueSTJJP6JVjcK039AplON7cFDhKtxBXxE/dQrsQB+9E0xOCJBAPfN/NLHbG6z5JqlFqmxbjJM0dtAgWmD++5aU8c8iLnhKmbgmN1PjohanAADhZFFQfCMbkiZmJfJk3sf2Uzw+0nk5SRO66TigSmez9ivquAkCd5MR2rnFeDFIaU8O4wS5kdbh80ZRxFRjgWmnM2lwPqjtmclmADPUc7qEAeKs+E5O4Vjcxog9biT6pEpew0l4I6eOfiqQa5pDwBPN2k6a9aqG1tmMpPyODwdYcb9sFPOWHKQ4Vgp4ZopuJkkNFgOG5c0xe1KlWoalR5c86uOp4LcWOT3XB05RTofHB0zeVgwPAz/T80Jgdu5aZDhL5sT6wm2A29TI6dO+m4z4rJTyR8BRhBkVPZs6M74HzW42W/qHc23fKZs25Q/g+QRFPbVA/wCifCfRJefJ6GrFD2IzgiN89rmqM4Mu3DxHzVl/xKjqKbR3AeirvJzbbXurh7A6ahcBwBtA8lyzTabrg5442kRN2e0fhCx3NDi4p9Ux1H+GPL5oKrtdo91rR2AeqHvSfsLtxQtbVqG1On5KN2HefffHYpMTtcu1MjySnE7ZiwamRU5cICTiuWMeaptvE9btPAJNygxgcyATY6CzR3ILGbQc/eY4cPml2Jqy09qqxYGmnJiJ5U9kZQf0VptKtPYocPUE3FlHXcq9O9igeVi9WIzixbJxDhlg6FXrCbTpvAL2CeLTlPlY96rB2XTcBkdlIv28F4cNVYND3X/svEzOOV2nTPRgnBbl5psouEipHU4eoj4LPoDXXBHcYVNo4x7df1RDNtEaAk3vePJTPHJcDdSLQ/Ax/ZBbS6LSN54KHC7WJH3u4EqTF4gQXO8xCPC2pfIDIvjsV3bQYadGi0E4jO4iASQ18Wga3AjsPFMKHJkZPtJdU/E06dWWYRez8G/6QKzWOz807KPvZczRmAPaf6k6Iq/gnwm/mn5epcUox/sVjwpu2UvF8mhTaagcSWjNBEGY6RzAx4jcrNsioPolNjBlDwHu3kv0Lp3XHktyalfnKYaRBLHOjsDg0mxNyJ6lts3ZEMfSa/mwx56HvOyuhwLXEiRJI7Vks8pQqXK3OWNKVo8dUI1E9YJQeM2nSaOk4k8BB8eCY1NgMcZ+1ef9z4/paAPNas5MndTIneRHnDikxnHljXGXgRM2hTN3tLZEifK0ypaDWVAS2Z1hMK3I2mD9o9oniXE+ZClpbLw2G/1asxa7Q13DphpTJZE/0AUP9ha7Z1MXdrwhxJ7AFBiHAEto4YPPC89pB0U2L5UYanGWjnd96ahIHZAE8ZTJ2Nw+Iph9OkwtBAcAwZ2TvjVw7CD3oqlGnNOjPi9olcfjgx0VsOWGBviPHUIzZ+1qZvYd/qkXKHFNPQAsJLTJIExpOgN7fspcPiMpVKxuUdSE6knTOpYLlTTYYdIjfFj3K1bD5Q0q4ljvdMHcR2j5rhmLxDs0SYPFH8mtquoVA4Gxs7rCPtXC2Kb+VI6/t3ZpqAmmQTwIBHcd65ptehVa4t5iP5g2fCyuWB5SSBf99yZ0cbSqf5g+BB74sgg0jpajlDW1CYNEmP5TPamNOmW/dIHYQfPVdDxWx6bxNOoB1G/dIVE2/RxdJ5hvR3ZSLj4rdLm6Wxqmoq2D1cWad32G7itHbZZFpQ42liiIqNzM3h9x4HTuhJcU3pm0CdOCKPTX+xrz+h1jNrHJLQbzc6JXsjFZXm8StKLnuEhrsulgYXrGimDmbfdMhH21GLiDrbdjp2LIkmYHZ8VB9ID7jfun1SXFYsuESoqVUWv4IY9PSsJ5bG2Jqu0uEM+g8iYJnhr3jcoqWMIselwncvK+LeDefRNimtkKdPcgrgtsQR2oWo6RCPdic8Zr9q8fRG4eacn7BFwao6gTA4dQ1aFif3oi1I4CWKTmyvFptl9ZyXxAjc3rcAfjKKw2yX7q7ABxzn4C6Vt2qXb57SSoq2043yV4mmctmejcUrLPT2OdXYhkDg1v/wCnT4L1mDoSZxZd2N077fFUqntV3x+KHr49z7Fx7P0CdHo5PliZdQlwdBqbZwdEQX1HdkA+AlLsTytYbU8O3qL5cfAEDzKp9BgOpjfpf5I+mKIuawHcZsteDFDw2zFkyT+kOX7Xr1XteXOaWzAaQLOEEECAQY3yihjnEQ5zju98DyAhVevWvAqAt3EG19xQGIxDmkXN/wBEKwufGwzUo/ZfaWNYI6RkaS9x+JRNPbFKk7OWtDyCM0HPE6ZvRc1+mbpKNZtAuaWlx6lj6Rrdnd5Pg6TR5VF1pPVMAqFvKCqJa6XtP4bOH9J9VzAYmo24ci6W36zRDXATY2F1r6Fr9TF1K8l4x+2ajGE5jVp2lr82Zs9Zv3jgqltbHl3uucWG8E3b1HioMftVz2AkQSIJGh1PxA8Skr6hT+mwVu+ROad7LgeYd9CwcCeNyPDdPaicJtAYWpmplxbMOaSLjgQLOHdwVZbWupnVZCplhUuRKm1wXTb2zm4ql9IoDpNBL2D7w1Jjc4XnjfvpKsPJHaRp1myei7ouG6/9kv27gRRr1GD3cxLP9pu3wBjuU2C4SeJ/8KMnyjrQJiahJE8APILai/gockrana/BVpKqJ5buyyYLE5QJeOzh1XTbD7QIiHAz1+uiomc6phg8XANzf9yp54K3GLJ4Lvh9tuY77Wo0A6Ae8NN9pR7dr0qzzTFQOeLwQ4af7gqRS2gRcJlgMfTzZssOvcRInt1WxT5FTosFTCtcYgA8IhLtq7LyUXVA0PItlAmLe8eqyb4XFMfb3p3tHSb/AMd/GyY/Q8zTkqNd1jzkWKLW09xagnwclxO1Hk6RFtIjq6lG7HOeA1xkcOviOBXQMVscEEPptmZBj3t1v3vSmrsFg0keCbcfCMUn5Kc7Cn92UZpEforzUw0iHQ+OOqX1dltmRYdkrlN+UE2vDKuxh1NimGGbMS+P3omDcDBnIHdU+iKZg6JMuYW9hlqDJIOLsWudTBAsSbTuUooWu0eGqnr7NpDpNBPAA/NBVMS5lyyr2FwLRw0AS0nLgO0uTHUQdFBVodq0dXLrhoB7/XRQPrlo94TvAmfEpihIC0ScyOHksQn089axFpkdaPo5vsj2YBAZV/Of8ZWr/ZBsw3LKp/8AmqfNX5YupBWygN9j2yx/p1fzqnzW9P2R7Ma7MKdWf/ef6lXxYtowoz/ZRs0yMlW9j9s/5qD6nNlfw6v51T5roCxYklwbZz/6nNlfw6v51T5rZ3sf2WQAadWBp9tU+avyxaYc++prZX8Kr+dU+a9Hsd2V/Dq/nVPmugLFxxz/AOp3Zf8ADq/nVPmvPqc2V/Dq/nVPmugrwhccc+Hsj2USWZKsgAkc/UkAyAYm05T4FeH2QbJmMlSbW5983mN/UfAp83krY/bdLLlDg24EVhE5pP8AmiSSSclySZG//hqX84ajS4kOJ5u8ipWfY57WrEDWMrTfRccV/wCpvZX8Kr+dU+axvsf2UdKdXh/nVNxg7+KfN5LQwt53pZWta7K4hpDs2bK6oQSbSDYxcGSFseTOoFXKCahlrYc3O+o8lrg6AftIJi4a3SFxwioeyfZbSQ1lSRGYc88xvEiVPivZXs6pGdlUxp9q/wBCnuH2I5jy8VACW5S1rCGAWGZjc/RdAN5OqgqcmyQBzobDMvRYRuqCR0zE55dxLQbIdKu6Nt1Qjb7Itli3N1b/APWqfNC1PZdsZpc1xcC2C4HEPkTAEjNb3m/1DirngNjilnh5h0WEtiHveLg/hcxnZTA0sNcTsp76j3l9MggBgNN3QuxxuKgzEuYDNjZvC5GFLd7L9iCZJEAEziHWBiCelaczfEcV79WOxRN3WAJ/8y6wMQfe35m/1DirW3YNRvuYi8EBzmZnS7m+ccTnEk83bSM2+Atv/DrQ4Pa4Ne0MyQ13NtLcuY82X/eDWjUe6LzJPHFU+rjYoMZiDAP/AKh2hgA+9p0m/wBQ4qX6u9jgnpGwBP250MQTffI8QrPU2BNMM5w9FtJjTBsKRDvuuBlzhJLS3Ro3XzD8ngwHLUcCaTaUiRAhoqODc0BzgxtxEZRreeo4TYb2c7OLWuYHlpALXCq4gg3BBBv2o9vIfCiLPt/OfPirJTYAAAIAEADQAaBbLqMpFePI7C8H/wBZ9VBU5B4N2rX/ANZVoWLKR1Iqh9n2C/DU/Mcoz7OMD+Gp+Y5W9YtM0r0U76tsB+Gp+Y5ej2bYD8NT8xyuCxdZ2iPop31aYD8FT8xy1Hsy2f8AgqfmOVzWLjdKKSfZZs7+HU/McoT7I9mH/Tqfmv8Amr4sXWdSKF9UOy/4dX86p81ivqxbbOpH/9k=');

    background-size: cover;
    color: #3b2f1e;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


h1 {
    text-align: center;
    color: #5e2e0c;
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Uncial Antiqua', serif;
    text-shadow: 2px 2px 4px #d2b48c;
    letter-spacing: 2px;
    background-color: rgba(255, 248, 220, 0.6);
    padding: 10px 20px;
    border-radius: 10px;
}









input[type="submit"] {

    background-image: url('https://cdn.pixabay.com/photo/2017/04/04/17/56/stone-2208014_1280.jpg');
    background-size: cover;
    background-position: center;
    border: 2px solid #3e2e1e;
    color: #000;
    font-family: 'Cinzel Decorative', serif;
    text-shadow: 1px 1px 2px #000;
    padding: 12px 20px;
    margin: 8px 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

input[type="submit"]:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-image: url('https://cdn.pixabay.com/photo/2017/02/06/15/02/paper-2048108_1280.jpg');
    background-size: cover;
    background-position: center;
    border: 2px solid #8b5a2b;
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
    color: #3e2e1e;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
}


label {
    font-family: 'Uncial Antiqua', serif;
    font-size: 17px;
    color: #f8deb5;
    text-shadow: 1px 1px 2px #000;
    display: block;
    margin-bottom: 5px;
}


form {
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid #5a3b1b;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.7);
    width: 850px;
}




#misioakLista {
    margin-top: 20px;
    background: rgba(245, 222, 179, 0.85);
    border: 2px solid #8b5a2b;
    padding: 15px;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    font-family: 'Courier New', monospace;
    color: #3b2f1e;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
h2 {
    font-family: 'Cinzel Decorative', serif;
    text-shadow: 2px 2px 5px #000;
    color: #FFF;
}